body.nosotros-page {
  background-color: #000;
  color: #fff;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

body.nosotros-page .pagina-nosotros {
  max-width: 900px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

body.nosotros-page .pagina-nosotros section {
  border: 2px solid #00f2ff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 30px;
}

body.nosotros-page .pagina-nosotros h1,
body.nosotros-page .pagina-nosotros h2 {
  font-family: "Orbitron", sans-serif;
  font-size: 2.2em;
  color: #00f2ff;
  text-align: center;
  margin-bottom: 50px;
}
