body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #000;
  color: #fff;
}

.encabezado {
  font-family: "Orbitron", sans-serif;
  font-size: 2em;
  color: #00f2ff;
  text-align: center;
  margin-top: 20px;
}

.puntos {
  text-align: center;
  font-size: 1.2em;
  color: #39ff14;
  margin-bottom: 20px;
}

.header-principal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111;
  padding: 10px 20px;
  box-shadow: 0 0 10px #00f2ff;
}

.logo-web img {
  height: 80px;
}

.nav-bar {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-carrito {
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 6px 0;
}

.nav-item:hover {
  color: #00f2ff;
}

.busqueda-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.barra-busqueda {
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #444;
  background-color: #222;
  color: #fff;
  width: 180px;
}

.icono-lupa {
  font-size: 1.2em;
  color: #fff;
  cursor: pointer;
}

.titulo-destacados {
  font-family: "Orbitron", sans-serif;
  text-align: center;
  margin-top: 30px;
  color: #00f2ff;
}

.main-catalogo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.producto {
  position: relative;
  background-color: #1a1a1a;
  padding: 15px;
  border-radius: 8px;
  width: 220px;
  box-shadow: 0 0 10px #00f2ff;
  text-align: center;
}

.etiqueta {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgb(2, 66, 139);
  color: rgb(255, 255, 255);
  padding: 6px 12px;
  font-size: 0.8em;
  font-weight: bold;
  border-radius: 4px;
}

.banner-slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-slider img {
  max-width: 100%;
  height: 100%;
  object-fit: cover; /* mantiene proporciones y recorta para llenar */
  display: block;
  margin-top: 20px;
}

.nombre-producto {
  font-family: "Orbitron", sans-serif;
  color: #fff;
  margin: 10px 0;
}

.precio-producto {
  color: #39ff14;
  font-weight: bold;
}

.btn-agregar {
  margin-top: 10px;
  padding: 8px;
  background-color: #00f2ff;
  color: #000;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

aside {
  padding: 20px;
  background-color: #111;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px #00f2ff;
}

footer {
  background-color: #111;
  color: #ccc;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

.redes-sociales a {
  color: #fff;
  margin: 0 10px;
  font-size: 1.5em;
}

.redes-sociales a:hover {
  color: #00f2ff;
}

.catalogo-container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.filtros {
  flex: 1;
  max-width: 250px;
}

.main-catalogo {
  flex: 3; /*Los productos ocupan el espacio restante de la pagina junto al filtraje*/
  padding: 20px;
}

.catalogo-productos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  width: 100%;
}

.newsletter {
  margin-top: 20px;
  text-align: center;
}

.newsletter input[type="email"] {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #444;
  background-color: #222;
  color: #fff;
  width: 200px;
}

.newsletter button {
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  background-color: #00f2ff;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  margin-left: 5px;
}

.newsletter button:hover {
  background-color: #00d1ff;
}

#mensaje-newsletter {
  margin-top: 10px;
  color: #39ff14;
}
