body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: url("https://pa1.aminoapps.com/6529/a85f309b1ad7073cca0c939cac31a0df0ecae0ba_hq.gif") no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  width: 100%;
  max-width: 420px;
  margin: 40px auto;
  padding: 30px;
  background-color: rgba(17, 17, 17, 0.85);
  border-radius: 14px;
  box-shadow: 0 0 20px #00f2ff;
}

.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-login {
  width: 120px;
  margin-bottom: 30px;
}

h2 {
  font-family: 'Orbitron', sans-serif;
  color: #00f2ff;
  margin-bottom: 30px;
  font-size: 2em;
  text-align: center;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

input {
  padding: 14px;
  margin-top: 6px;
  border-radius: 8px;
  border: none;
  background-color: #222;
  color: #fff;
  font-size: 1em;
}

button {
  margin-top: 35px;
  padding: 14px;
  background-color: #00f2ff;
  color: #000;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #00d4e0;
}

.mensaje-error {
  color: red;
  margin-top: 12px;
  font-size: 0.9em;
  text-align: center;
}